.Rproj.user
.Rhistory
.RData
.Ruserdata
files/JC-presentations/~$DPZ-NBL-JC-08-03-2022.pptx
files/Regular-Presentations/~$Rotational Dynamics Talk JMG 2019_10_17.pptx
files/Regular-Presentations/~$Job Talk 2019_02_11.pptx
files/Regular-Presentations/~$BlitzTalk_19042021.pptx
