h1 {
  font-size: 56px;
}
h1.title {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}



